/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSES FLEX BOX */

.flex {
    display: flex;
    flex-wrap: wrap;
}


.space-between
{ justify-content: space-between;
    
}





/*CLASSE DE LARGEURS */

 .w-25 {
    width:25% ;
}
.w-33 {
   width: 33%; 
}

.w-100{
    width: 100%;
}
 .w-100
 {
    width: 100px;
 }

/* GENERIQUE */
.container-1000{
    max-width: 1000px;
    margin-left: auto;
    margin: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom:30px ;
}

.mt-80{
    margin: top 80px; ;
}

/*HEADER */

.align-center {
    align-items: center;
}
 .listpuce {
    list-style: none;
 }

.logo{
    width: 100px;
}

.gap12 {
    gap: 12px;;

}
.btn{
    background-color: rgba(215, 154, 90, 0.785);
    color: rgb(19, 19, 19);
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
}




/*HERO*/

.bgimg{
    background-image:  url(assets/Splashing\ chocolates\ realistic\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}

/*SECTION1 */

.mini img {
    width:30% ;
}

.img100{
    width: 80%;
}

.card{
    
    width: 33%;
    background-color: antiquewhite;
   
    padding: 5px 15px ;
    border-radius: 20px;
   
    margin-top: 100px;
   
}

.carte{
    box-shadow: 5px 5px 10px;
    border-radius:20px ;
    padding: 20px;
}

/*SECTION2 */

/*SECTION3 */

/*FOOTER */

.bgimgfo{
    background-image:  url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
     }