/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    list-style: none;
    text-decoration: none;
    color: black;
}

/* CLASSES FLEX BOX */

.flex {
    display: flex;
    flex-wrap: wrap;
    
    
}


.space-between
{ justify-content: space-between;
    
    
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}




/*CLASSE DE LARGEURS */

 .w-25 {
    width:25% ;
}
.w-33 {
   width: 33%; 
}

.w-98{
    width: 100%;
}
.w-100{
    width: 100%;
}
 .w-100
 {
    width: 100px;
 }
 .w-15
 {
    width: 15px;
 }

/* GENERIQUE */
.container-1000{
    max-width: 1000px;
    margin-left: auto;
    margin: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom:30px ;
}


.space-around{
    justify-content: space-around;

}

.mt-80{
    margin-top: 80px;
    margin-bottom: 50px;
}

/*HEADER */

.align-center {
    align-items: center;
    text-align: center;
}
 .listpuce {
    list-style: none;
 }

.logo{
    width: 50px;
}

.gap12 {
    gap: 12px;;

}
.btn{
    background-color: rgba(215, 154, 90, 0.785);
    color: rgb(19, 19, 19);
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
}

.gap-40{
    gap: 40px;
}

.brown{
    color:rgba(112, 55, 35, 1) ;
}





/*HERO*/

.bgimg{
    background-image:  url(assets/Splashing\ chocolates\ realistic\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center top;
    width: 100%;
    height: 100vh;
    
}

.entete{
    background-color: #7037239b;
    width: 45%;
    border-radius: 32px;
    padding: 32px;


}
.white{
    color: white;
}


 .mt-25{
    margin-top: 25px;
 }



/*SECTION1 */

.mini img {
    width:30% ;
}

.img100{
    width: 80%;
}

.card{
    
    background-color:rgba(112, 55, 35, 1);
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    width: 280px;
    padding: 20px;
    text-align: center;
    margin: 0 50px;
    
    
   
   
}

.carte{
    box-shadow: 5px 5px 10px;;
    

}

.cadre{
    background-color:rgba(222, 207, 200, 1) ;
    padding: 20px;
    margin: auto;
    width: fit-content;
}

/*SECTION2 */
.bgimg2{
    background-image:  url(assets/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
     }

/*SECTION3 */

/*FOOTER */

footer{
    background-color:rgba(112, 55, 35, 1) ;
    margin-top: 80px;
    padding: 60px 15px;
}

